.app{
    min-height: 100vh;
    background-color: rgb(12, 17, 29);
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media(max-width: 700px){
    .app{
        padding-top: 70px;
    }
}